<div>
  <form [formGroup]="categoryForm" (ngSubmit)="handleSubmitCategoryAction()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!categoryForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
